body{
	background-image: url('https://wallpapers.com/images/hd/dark-red-background-iopiqgntbjqiiuzj.jpg');
	color: black;
	font-family: "Ubuntu", serif;
}
.container{
	background-color: #F7F3E3;
	padding: 15px;
}
h1{
	color: white;
	font-family: "Jaro", sans-serif;
	text-align: center;
	padding: 15px;
}